body {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  font-family: Roboto;
}
.navbar {
  background-color: rgb(22,147,165);
  height: 50px;
  display: block;
}
.innernav > ul {
  margin: 0;
  list-style: none;
  text-align: center;
  display: inline-block;
  padding-right: 10%;
  position: absolute;
}
.innernav > ul > li {
  margin: auto;
  padding: 15px;
  height: 20px;
  display: inline-block;
}
li > a {
  text-decoration: none;
  color: white;
}
.navpages:hover {
  background-color: white;
  transition: all 0.3s;
}

.navpages:hover > a {
  color: black;
  transition: all 0.3s;
}
.selected {
  background-color: white;
  color: black;
}
.selected > a {
  color: black;
}
.turktour {
  display: inline-block;
  height: 100%;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  color: white;
  margin-left: 60px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(42, 167, 185);
}
.innernav {
  margin-left: auto;
  margin-right: auto;
}
.topicimage > h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 30px;
  font-size: 40px;
}
.topicimage > h3 {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 25px;
}
.cite {
  text-align: center;
  display: block;
  margin-bottom: 40px;
  margin-top: 10px;
}
p {
  display: inline-block;
}
.leftcolumn {
  float: left;
  width: 42%;
  padding-left: 5%;
  padding-right: 2.5%;
  border-right: 2px solid black;
  margin-bottom: 50px;
}
.rightcolumn {
  float: right;
  width: 42.5%;
  padding-left: 2.5%;
  padding-right: 5%;
  margin-bottom: 50px;
}
.footer {
  display: block;
  text-align: center;
  font-size: 18px;
}
.maincontent {
  overflow: hidden;
  border-bottom: 2px solid black;
}
h2, h3 {
  text-align: center;
}
img {
  max-width: 80%;
}
figure {
  text-align: center;
}
.leftcolumn > ul > li{
  margin-top: 15px;
  margin-bottom: 15px;
  list-style: none;
}
.leftcolumn > ul {
  padding: 0;
}
